<html>
<head>
<title>GoBBS</title>
<style>
  ul {
    padding: 0;
  }
  li {
    border: 1px solid #ddd;
    list-style: none;
    padding: 10px;
    margin: 10px;
  }
</style>
</head>
<body>
  <h1>BBS</h1>
  <a href="/post/new">new Post</a>
  <form method="post" action="/post/create">
    <label>
     text
      <input type="text" name="Text" value=""/>
    </label>
    <button type="submit">送信</button>
  </form>
  <ul>
    {{ range .}}
    <li>
      <a href="/post/edit/{{.Id}}">
        <span>{{.Id}}, </span>
        <span>{{.Text}}</span>
      </a>
      <a href="/post/delete/{{.Id}}">x</a>

    </li>
   {{ end }}
  </ul>
</body>
</html>
