<html>
<head>
<title>GoBBS</title>
<style>
  ul {
    padding: 0;
  }
  li {
    border: 1px solid #ddd;
    list-style: none;
    padding: 10px;
    margin: 10px;
  }
</style>
</head>
<body>
  <h1>BBS</h1>
  <a href="/post/create">Create Post</a>
  <form method="post" action="/post/create">
    <label>
     text
      <input type="text" name="Text" value=""/>
    </label>
    <button type="submit">送信</button>
  </form>
  <ul>
    {{ range .}}
    <li>
      <a href="post/edit/{{.UserId}}">
      <span>{{.UserId}}, </span>
      <span>{{.Text}}</span>
      </a>
    </li>
   {{ end }}
  </ul>
</body>
</html>
