<html>
<head>
<title>GoBBS</title>
<style>
  ul {
    padding: 0;
  }
  li {
    border: 1px solid #ddd;
    list-style: none;
    padding: 10px;
    margin: 10px;
    position relative;
  }
  .text {
    padding: 20px;
    display: block;
  }
  .remove {
    position: absolute;
    right: 50px;
    font-size: 20px;
 }
</style>
</head>
<body>
  <p><a href="/">Home</a></p>
  <h1>BBS</h1>

  {{if eq .User.Id 0}} 
  <p>ログインしていません</p>
  <p><a href="/user/login">ログイン</a>&nbsp;<a href="/user/new">アカウントを作成</a></p>
  {{else}}
  <p>Login User: {{.User.Name}}</p>
  <form method="post" action="/post/create">
    <label>
     text
      <input type="text" name="Text" value=""/>
    </label>
    <button type="submit">submit</button>
  </form>
  {{end}}
  <ul>
    {{ range .Posts}}
    <li>
     <div>
      <span>id:{{.Id}}</span>
      <span>userId:{{.UserId}}</span>
      <a href="/post/delete/{{.Id}}" class="remove">x</a>
     </div>
     <a href="/post/edit/{{.Id}}" class="text">{{.Text}}</a>

    </li>
   {{ end }}
  </ul>
</body>
</html>
